.leaf {
    width: 432px;
    height: 417px;
}
.clockBlock {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 358px;
    height: 111px;
    left: 190px;
    top: 700px;
    align-items: center;
    grid-gap: 15px;
}
.worktime {
    font-size: 18px;
    width: 343px;
    height: 100px;
}
.clock {
    width: 76px;
    height: 76px;
}
.mainPageTitle {
    width: 220px;
    font-size: 43px;
    color: #550312;
}
.mainPageText {
    font-size: 18px;
    text-indent: 1.5em;
}
.mainPageBlock {
    width: 490px;
    height: 417px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center;
    justify-items: left;
    gap: 1px 1px;
}
.mainPanel {
    width: 1001px;
    height: 449px;
    position: absolute;
    left: 140px;
    top: 145px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2px;
}
.bigplate {
    position: absolute;
    width: 585.14px;
    height: 588px;
    left: 1115px;
    top: 160px;
    display: grid;
    border-radius: 500px;
    background: rgb(255, 224, 155);
    background: linear-gradient(294deg, rgba(255, 224, 155, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border: solid rgb(255, 224, 155);
    align-items: center;
    justify-content: center;
}

.mainPagePic {
    width: 450px;
    height: 450px;
    border-radius: 200px;
}

.topCorner {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 0 117vh 100vh 0;
    border-color: transparent #FFEBBE transparent;
}
.content {
    position: absolute;
    width: 100vh;
    height: 100vh;
    z-index: 2;
}