.menuPageStick {
    position: absolute;
    width: 300px;
    height: 30px;
    top: 200px;
    left: 260px;
    border-style: solid;
    border-radius: 25px;
    background-color: #FFBE41;
    border-color: #FFBE41;
}
.menuTitle {
    position: absolute;
    width: 300px;
    height: 55px;
    top: 3vh;
    left: 15vh;
    font-size: 50px;
    color: #550312;
}
.menupage {
    position: absolute;
    padding: 60px;
}
.menubox {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
    width: 1000px;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 60px;
}