.wrapper {
    width: 99.5vw;
    height: 10vh;
    background-color: transparent;
    border-radius: 24px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 20px;
    font-family: "Noto Sans Mandaic", sans-serif;
    text-align: center;
    align-items: center;
}
li {
    list-style: none;
}
a {
    color: dimgray;
}

.name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 2.6px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-bottom: 17px;
}
